@import '../../variables';

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: $whiteColor;

    .header-login-btn{
        margin-right: 1.5rem;
    }

    .header-logo{
        margin-left: 1.5rem;
    }
}