@import '../../variables';

.courses{
    display: flex;
    width: 75%;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    .search-bar-create-course-btn{
        width: 100%;
        display: flex;
        margin-bottom: 2rem;
    }
    
    .loaded-course-card{
        margin-bottom: 2rem;
    }


    @media only screen and (max-width: 1000px) {
        width: 100%;
    }
}