@import '../../variables';

.empty-list{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .empty-list-heading{
        font:{
            size: 2rem;
            weight: 700;
        }
        padding-bottom: 1.5rem;
        color: $blackPrimaryColor;
    }

    .empty-list-instruction{
        padding-bottom: 1.5rem;
        font-size: 1rem;
        color: $blackPrimaryColor;
    }
}